{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>
    <body>
        <div class = "modal-dialog modal-lg" role ="document">
            <div class = "modal-content">
                <div class = "modal-header">
                    <button class = "close" type = "button" data-dismiss = "modal" aria-label = "Close">
                        <span aria-hidden ="true">&times;</span>
                    </button>  
                    <h4 class ="modal-title">¿Quieres comprar el articulo:  {{productos.name}}?<br><img src="{{productos.imagen.url}}" alt="" width = "90px" align = "rigth"></br></h4>                                        
                </div>        
                <div class ="modal-body">
                    <form method="POST" enctype="multipart/form-data" action="/guardarVenta/{{productos.id_producto}}">{% csrf_token %}                       
                        <h3 align ="center"><bold>DATOS DE ENTREGA</bold></h3>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12" >
                                    <input required name = "txt_nombres"type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Nombres y apellidos completos">
                                </div>
                            </div>
                            </br>  
                            <div class="row">
                                <div class="col-sm-6" > 
                                    <div class="input-group mb-3">
                                        <select required class="custom-select" id="inputGroupSelect01" name ="select_tipo_doc">
                                          <option selected>Tipo documento</option>
                                          <option value="cedula">Cedula</option>
                                          <option value="tarjeta">Tarjeta de identidad</option>
                                          <option value="registro">¨Registro civil</option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col-sm-6" >
                                    <input required name ="txt_num_doc"type="number" class="form-control" aria-describedby="emailHelp" placeholder="Numero del documento">
                                </div>
                            </div> 
                            </br> 
                            <div class="row">
                                <div class="col-sm-12" >
                                    <input required name ="txt_correo"type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Correo electronico">
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-sm-12" >
                                    <input required name ="txt_direccion"type="text" class="form-control"  aria-describedby="emailHelp" placeholder="Direccion">
                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-sm-6" > 
                                    <div class="input-group mb-3">
                                        <select required name ="select_depto"class="custom-select" id="inputGroupSelect01">
                                          <option selected>Departamento</option>
                                          <option value="Antioquia">Antioquia</option>
                                          <option value="Caldas">Caldas</option>
                                          <option value="Risaralda">Risaralda</option>
                                        </select>
                                      </div>
                                </div>
                                <div class="col-sm-6" >
                                    <div class="input-group mb-3">
                                        <select required name ="select_ciudad" class="custom-select">
                                          <option selected>Ciudad</option>
                                          <option value="1">Medellín</option>
                                          <option value="2">Manizales</option>
                                          <option value="3">Pereira</option>
                                          <option value="4">Bogota</option>
                                          <option value="5">Cali</option>
                                          <option value="6">Barranquilla</option>
                                          <option value="7">Cartagena</option>
                                          <option value="8">Llanorande</option>
                                        </select>
                                      </div>                                </div>
                            </div>
                            </br>
                            <div class="row">
                                <div class="col-sm-12" >
                                    <input required name ="txt_telefono" type="number" class="form-control"  aria-describedby="emailHelp" placeholder="Teléfono">
                                </div>
                            </div>
                            </br>
                            </br>
                        </div>
                        <div class ="modal-footer">
                            <div class="row" align ="left">
                                <div class="col-sm-12" >
                                    <h4 align ="left">TOTAL A PAGAR: {{productos.cost}}</h4>
                                </div>
                            </div>
                            <button class = "btn btn-danger" type = "button" data-dismiss = "modal"> CANCELAR</button>  
                            <button align= "left" type="submit" class="btn btn-success">Agregar producto</button>                                                        
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </body>
</html>
<div>